<nav>
    <div class="site-title">
        <a href="/">
            <h1>Mini Messageboard</h1>
        </a>
        <p>A mini messageboard site</p>
    </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/messages/new">Submit Message</a></li>
            <li><a href="/">Learn More</a></li>

        </ul> 
   
</nav>