<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>
<body>

<div class="error-box">
    <h1>404 Error</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, adipisci. Tenetur, repellat corporis non, hic molestiae distinctio quod nemo obcaecati cumque cum provident commodi laudantium assumenda ratione veritatis qui maxime?</p>
</div>

    

<%- include('./partials/footer.ejs') %>

<!-- <div class="footerWrap">

</div> -->


</body>

   

</html>


